* { 
   /* border: 1px solid black;*/
    box-sizing: border-box;
    font-family: 'Caveat';
}

body {
    display: flex; 
    flex-direction: column;
    min-height: 1500px;
    margin: 0;
}

.links { 
        text-decoration: none;
        color: #e5e7eb;
}

.logo { 
 height: 200px;
 min-width: 300px ;
}


.header { 
    display: flex;
    color: #F9FAF8;
    width: 100%;
    background-color: #4c9c23;
    align-items: center;
    justify-content: flex-end;
    color: #F9FAF8;
    justify-content: space-between;
    padding: 0 150px;
   


}

 #google.a { 
    display: flex;
    list-style-type: none;
    font-size: 24px;
    gap: 1em; 
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    height: 80%;
}

.footer { 
   
    background-color: #4c9c23;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    padding: 20px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

 
.hero { 
    display: flex;   
    background-color: #4c9c23;
    justify-content: space-between;
    padding: 50px 150px;
    flex-shrink: 1;
    gap: 20px;
    box-shadow: rgb(41, 55, 43) 0px 30px 60px -12px inset, rgba(41, 55, 43, 0.7) 0px 18px 36px -18px inset;
    align-items: center;

}

.hero-left { 
    color: white;
    display: flex; 
    flex-flow: column wrap; 
    gap: 1em; 
    align-items: flex-start;
    padding: 8px; 
    justify-content: center;
 
  

}

.squad-pic { 
 flex-shrink: 1;
 width: 100%;


}

.title { 
    color: #F9FAF8; 
    font-size: 48px; 
    font-weight: bolder;
    font-family: 'Caveat';
}

.subtext { 
    color: #e5e7eB;
    font-size: 24px;
}

#sign-up { 

    font-size: 18px;
    padding: 8px 8px;
    border-radius: 25px;
  
}
    

.middle { 
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgb(41, 55, 43) 0px 30px 60px -12px inset, rgba(41, 55, 43, 0.7) 0px 18px 36px -18px inset;

   


}


#card.b {
    list-style-type: none;
    display: flex;
    padding: 18px;
    gap: 4em;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.team { 
    font-size: 36px;
    margin-bottom: 0;
}

.illustration {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px ;
}

#leo {
    border: 2px solid #3d85c6;

}

#raph {
    border: 2px solid #cc0000;
}

#dona {
    border: 2px solid #6a329f;
}

#mike {
    border: 2px solid #ce7e00;
}

.card-text { 
    display: flex; 
    font-size: 20px;   
}

#card > * {
    max-width: 200px;
    align-content: center;
    color: #1F2937;
    font-size: 18px;
}

.quote-box { 
    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    background-color: #ce7e00;
    padding: 50px 200px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;

}

.quote-text {
    font-size: 40px;
    color: #D3D3D3 ; 
}

.author { 
    font-weight:bold;
    font-size: 24px;
    align-self: flex-end;
    color: #D3D3D3; 

}

.final-section { 
   
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.container-z { 

    height: 100px;
    width: 80%;
    background-color: #4c9c23;
    border: 1px solid #4c9c23;
    border-radius: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-shrink: 1;
    box-shadow: rgba(26, 26, 25, 0.646) 0px 10px 5px ;
}

.cta-a { 
    color:#e5e7eB; 
    font-size: 26px;
    margin-bottom: 5px;
}

.cta-b { 
    color: #D3D3D3;
    font-size: 22px;
}

.click {
    background-color: #ce7e00;
    font-size: 24px;
    padding: 8px 28px;
    border-radius: 25px;
    border: 2px solid #D3D3D3;
    color: #E5E7EB;
    text-decoration: none;
    box-shadow: rgba(26, 26, 25, 0.646) 0px 0px 15px ;
    
  

}



